body {
  background-color: gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  font-size: 14pt;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* defaut navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

/* styled navbar */
.navbar a {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vh;
  color: white;
  border-radius: 15pt;
}

.menu {
  display: none;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* mobile view */
@media (max-width: 508px) {
 
 /* show hmi on small screns */
  .navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 8px 12px;
  }

/* hides nav bar links on small screens */
  .menu {
    display: block;
    align-self: flex-end;
    line-height: 1;
  }

  /* defaults to hidden links on small */
  .navbar a {
   display: none;
   margin: 8px;
  }

}
