body {
  background-color: gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  font-size: 14pt;
  margin: 0;
  display: flex;
  flex-direction: column;
}

